
.team__title {
  margin-bottom: 45px;
}

.team__aftertitle {
  margin-bottom: 90px;
}

.team__list {
  font-family: $main-font;
  font-size: 15px;
  justify-content: space-between;
}

.team__item {
  position: relative;
  background-color: $color-blue;
}

.team__block {
  position: relative;
  transform: none;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.team__social {
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  width: 225px;
  height: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}

.team__social a  {
  display: none;
  width: 55px;
  height: 55px;
  background-color: $color-yellow;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.team__social svg {
  display: block;
  width: 22px;
  height: 100%;
  fill: $color-light-red;
  margin: auto;
}

.team__social a:hover svg,
.team__social a:active svg,
.team__social a:focus svg {
  fill: $main-color;
}

.team__social a:hover,
.team__social a:active,
.team__social a:focus {
  transition-property: background-color;
  transition-duration: 0.2s;
  background-color: $color-light-red;
}

.team__cv {
  padding-top: 27px;
  background-color: $main-color;
}

.team__cv-name {
  margin-bottom: 15px;
}

.team__cv-skills {
  font-family: $main-font;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
}

.team__item:hover .team__social a {
  display: block;
}

.team__item:hover .team__block {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transform: translate(-10px, -10px);
}

.team__block:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to bottom, $color-light-red, $color-yellow);
  opacity: 0.9;
}
