body {
  font-family: 'Playfair Display', serif;
}

p, h2 {
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/*navigation style*/
nav {
  margin: 0 auto;

}

.main-nav {
  padding: 72px 0 99px 0;
}

.menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  text-align: center;
}

.menu li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

.menu li:first-child {
  margin-right: 122px;
}

.menu li:nth-child(2) {
  margin-right: 105px;
}

.menu li:nth-child(3) {
  margin-right: 95px;
}

.menu li:last-child {
  margin-right: 0px;
} 

.menu a {
  display: block;
  color: rgb(98, 98, 98);
  font-weight: 400;
  text-decoration: none; 
}


.menu a:hover,
.menu a:focus {
  color: rgb(3, 169, 244);
}

/*article style*/

.article {
  padding-bottom: 70px;
  text-align: center;
}

.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: -webkit-auto;
}

.article-list-item {
  display: inline-block;
  max-width: 420px;
  font-size: 14px;
  margin: 0 60px 135px 0;
}

.article-list-item:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;
}

.article-list-item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.article-list-item img {
  margin-bottom: 31px;
}
.article-list-item span {
  font-size: 14px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
}

.article-list-item h2 {
  font-size: 30px;
  color: rgb(98, 98, 98);
  margin: 31px 0 36px 0;
}

.article-list-item p {
  font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
}

button {
  font-size: 20px;
  color: rgb(98, 98, 98);
  border: solid 1px rgb(98, 98, 98);
  background-color: #fff;
  padding: 20px 33px;
  margin-top: 50px;
  cursor: pointer;
}


