$main-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$sub-font: 'Kaushan Script', cursive;

// color

$main-color: #ffffff;
$color-red: #ff4e50;
$color-light-red: #f38181;
$color-light-grey: #cccccc;
$color-grey: #333333;
$color-blue: #95e1d3;
$color-yellow: #f1e05c;