html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #555252;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

h1::first-letter {
  color: #1abc9c;
  font-weight:900;
}

.main-nav {
  padding: 38px 0;
  margin-bottom: 72px;
}
.main-nav a {
  text-decoration: none;
  color: #515151;
}
.menu {
  display: inline-block;
  width: 1025px;
  background-color: #ffffff;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: middle;
}

.menu li {
  display: inline-block;
}

.menu li:nth-child(1) {
  margin-right: 34px;
}

.menu li:nth-child(2) {
  margin-right: 39px;
}

.menu li:nth-child(3) {
  margin-right: 30px;
}

.menu li:nth-child(4) {
  margin-right: 29px;
}

.menu li:nth-child(5) {
  margin-right: 35px;
}

.menu li:last-child {
  margin-right: 0;
}
.menu a {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 11px;
}

.menu a:hover,
.menu a:focus {
  color: #1abc9c;
}

.featured {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 105px;
}

 h2 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 32px;
  text-align: center;
}
h2::after {
  content: '';
  display: block;
  width: 165px;
  height: 7px;
  margin: 32px auto 0;
  background-color: #1abc9c;
}

.featured-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.featured-list-item {
  background-color: #e9f0fd;
  width: 255px;
  display: inline-block;
  margin-bottom: 30px;
}

.featured-list-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.featured-list-item:not(:nth-child(4n)) {
  margin-right:30px;
}


.featured-list-item p,
.featured-list-item span {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 32px;
  color: #ffffff;
}

.featured-list-item p {
  width: 201px;
  height: 40px;
  line-height: 40px;
  background-color: #323232;
  padding-left: 14px;
} 
.featured-list-item p:hover{
  background-color: #1abc9c;
}

.featured-list-item span {
  width: 54px;
  height: 40px;
  line-height: 40px;
  background-color: #8c8c8c;
  text-align: center;
}

.featured-list-item span:hover {
  background-color: #7fd9c7;
}

.featured h2 {
  margin-bottom: 130px;
}

/* article style */

.news h2 {
  margin-bottom: 120px;
}
.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.article-list-item {
  display: inline-block;
  width: 350px;
}

.article-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.article-list-item h3 {
  font-size: 18px;
  font-weight: 600;
}

h3:after {
  content: '';
  display: block;
  width: 135px;
  height: 3px;
  background-color: #1abc9c;;
}

.article-list-item p {
  font-size: 14px;
  font-weight: 400;
}

.article-list-item button {
  font-size: 16px;
  text-transform: capitalize;
}


button {
  font-size: 20px;
  color: rgb(98, 98, 98);
  border: solid 1px rgb(98, 98, 98);
  background-color: #fff;
  padding: 20px 33px;
  margin-top: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
